body{
    background:linear-gradient(45deg, #d4dfe8, #c5e3d5) ;
}

    .navbar{
        margin-top: 1rem;
        width: 95%;
        margin-left: 50%;
        transform: translateX(-50%);
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}