
:root {
    --primary: #FFEECC;
    --font-color: #333;
    --accent-color: green;
    --font-head: black;
}
body {
    background: linear-gradient(45deg, #d4dfe8, #c5e3d5);
}

.order_container {
    background-color: #fcfbfb;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 70px;
    margin-bottom: 10px;
    height: 600px;
}

.navbar-nav .nav-link {
    color: var(--font-color);
}

.navbar-nav .nav-link:hover {
    color: var(--accent-color);
}
.header {
    color: var(--font-head);
    font-weight: bold;
    font-size: 27px;
    margin-left: 400px;
    margin-top: 30px;
}

.col img {
    margin-top: 23px;
}

/* Media query for medium-sized screens */
@media (max-width: 768px) {
    .header {
        font-size: 1.5em; /* Decrease font size for smaller screens */
        margin-left: 0; /* Reset margin for smaller screens */
        text-align: center; /* Center-align the header */
        margin-top: 20px; /* Adjust top margin */
    }
    .col img {
        margin-top: 20px; /* Adjust top margin for smaller screens */
    }
    .order_container {
        margin-top: 50px; /* Adjust top margin for smaller screens */
    }
}
/* Media query for small-sized screens */
@media (max-width: 576px) {
    .header {
        font-size: 1.2em; /* Decrease font size for smaller screens */
    }

    .col img {
        margin-top: 15px; /* Further adjust top margin for smaller screens */
    }
}

/* Media query for extra small-sized screens */
@media (max-width: 400px) {
    .header {
        font-size: 1em; /* Decrease font size for extra small screens */
    }

    .col img {
        margin-top: 10px; /* Further adjust top margin for extra small screens */
    }
}

.btn-outline-success {
    color: #28a745;
    border-color: #28a745;
}

.btn-outline-success:hover {
    background-color: #d4edda;
}

.btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
}

.btn-outline-primary:hover {
    background-color: #cce5ff;
}

.btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
}

.btn-outline-danger:hover {
    background-color: #f8d7da;
}

.btn-outline-warning {
    color: #ffc107;
    border-color: #ffc107;
}

.btn-outline-warning:hover {
    background-color: #fff3cd;
}
#customer table {
    width: 100%;
    border-collapse: collapse;

}
#customer td {
    border: 1px solid #c8e8da;
    padding: 8px;
}

#customer th {
    background-color: #ceeee0;
    color: #333;
    font-weight: bold;
}

#customer tr:nth-child(even) {
    background-color: #f9f9f9;
}

#customer tr:hover {
    background-color: #f2f2f2;
}
#customer_btn button {
    margin-right: 10px;
}
